@use '../abstracts/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$color1;
    color: variables.$textColor;
    font-family: variables.$font;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    font-family: variables.$font;
    font-size: 15px;
}