@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color1: rgb(251, 251, 251);
$color2: rgb(200, 200, 200);
$color3: rgb(163, 163, 163);
$color4: rgb(100, 100, 100);
$color5: rgb(60, 60, 60);
$color6: rgb(25, 25, 25);

$textColor: rgb(24, 24, 24);
$font: "Poppins", sans-serif;




