@use '../scss/abstracts/variables';


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: variables.$color3;
    border-bottom: 1px solid variables.$color5;
   
    ul {
        display: flex;
        flex-direction: row;
        justify-self: center;

        li {
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline: 15px;
            border-bottom: 1px solid variables.$color5;
            transition: 0.2s background-color ease-in;
            cursor: pointer;

            &:hover {
                background-color: variables.$color2;
            }
        }
    }
}